page-opcoes-inicial {


}

#bodyopcoes{
    background: #e24c4745;
    
}
tbody{

    text-align: center;
}

td{
    border: none;
    
}

#opcoes{    
    position: absolute;
    bottom: 0;
    border: none;
    text-align: center;
    width: 100%;        
}
.slidesinicial{
    
        padding: 20px;

        text-align: center;
        border-radius: 15px 40px 15px 40px;
    
}